.v-expansion-panels.custom {
  .v-expansion-panel {
    &:before {
      box-shadow: none;
    }
    box-shadow: none;
    border-bottom: 1px solid #c4c4c470;
  }
  .v-expansion-panel:not(:first-child):after {
    border: none;
  }
  .v-expansion-panel--active + .v-expansion-panel,
  .v-expansion-panel--active:not(:first-child) {
    margin-top: 0px;
  }
}
